<!-- Intro Header -->
<header class="intro" id="homePage">
  <div class="intro-body">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="brand-heading">LetsJET</h1>
        <a href="#flightResults"> 
						    <button class="btn btn-circle page-scroll" id="searchBtn"> 
							   <i class="fa fa-plane animated" id="btn-plane"></i>
						    </button> 
      				</a>
        <h3>PRESS TO JET!</h3>
      </div>
    </div>
  </div>
</header>
<second>
  <div class="container-fluid">
    <!-- Flight Results -->
    <div class="row" id="secondHeader">
      <a href="#"> 
      <button class="btn btn-circle" id="homeBtn"> 
        <i class="fa fa-home animated" id="btn-home"></i>
      </button> 
    </a>
      <a href="#"> 
      <button data-toggle="tooltip" title="Not what you're looking for? Check out next weekend." class="btn btn-circle" id="nextBtn"> 
        <i class="fa fa-plane animated" id="btn-next"></i>
      </button> 
    </a>
    </div>
  </div>
  <div id="flightResults" class="container-fluid content-section" style="display:none;">
    <div id="response-content" class="text-center">
    </div>
  </div>

  <!--Events Modal-->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2 id="eventsTitle">Events</h2>
      </div>
      <div id="modal-body">
      </div>
    </div>
  </div>

  <!--Footer-->
  <!-- <div class="row" id="footer">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <p id="footerText">Copyright &#169; 2016 Rachel Thiim, Dan Tran, Tony Truong</p>
  </div>    
</div> -->
</second>