<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

	    <!-- Intro Header -->
	    <header class="intro">
	        <div class="intro-body">
	            <div class="row">
	                <div class="col-md-8 col-md-offset-2 title">
	                    <h1 class="brand-heading">LetsJET</h1>
								<a href="#flightResults"> 
									<button class="btn btn-circle page-scroll" id="searchBtn"> 
										<i class="fa fa-plane animated" id="btn-plane"></i>
									</button> 
	              				</a>
	              					<h3>Press button for  a new adventure!</h3>
	                </div>
	            </div>
	        </div>
	    </header>

	    <!-- Flight Results -->
	    <div id="flightResults" class="container content-section" style="display:none;">
	        <div class="container">
	        	<div class="row">
		            <div class="col-lg-8 col-lg-offset-2 text-center">
		                <h2>Your Top Flight Results!</h2>
		            </div>
	            </div>
		            <div class="row">                                
			            <div class="table-responsive"> <!-- Table still needs to be media friendly -->         
			                <table class="table">
			                  <thead>
			                    <tr>
			                      <th>No.</th>
			                      <th>Flight Name</th>
			                      <th>Depart</th>
			                      <th>Duration</th>
			                      <th>Arrive</th>
			                      <th>Fare</th>
			                      <th>Booking</th>
			                      <th>Events</th>
			                    </tr>
			                  </thead>
			                  <tbody>
			                    <tr>
			                      <td id="flight-number">1</td>
			                      <td id="flight-name"><i class="fa fa-plane"></i>  Flight 1</td>
			                      <td id="flight-depart"><i class="fa fa-clock-o"></i>  10:30 AM</td>
			                      <td><span id="arrow"> &nbsp; &#10230; </span></td> 
			                      <td id="flight-arrive"><i class="fa fa-clock-o"></i> 1:30 PM</td>
			                      <td id="flight-cost"> $3,000 </td> 
			                      <td id="book"> 
			                      	<a href="#bookInfo" class="btn btn-custom bookBtn">Click to book!
			                      	</a>
			                      </td>
			                      <td id="events"> 
			                      	<a href="#bookEvents" class="btn btn-custom eventsBtn" data-toggle="modal">Click for events!
			                      	</a>
			                      </td>
			                    </tr>
			                  </tbody>
			                </table>
			            </div>
		        	</div>
	        </div>
	    </div>