<!DOCTYPE html>
<html>
  <head>

      <meta name="viewport" content="width=device-width, initial-scale=1">
 

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
      <link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">

      <!-- Custom Fonts -->
      <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bungee|Gloria+Hallelujah|Indie+Flower|Lobster|Molle:400i|Nova+Script" rel="stylesheet">

      <!-- Theme CSS -->
      <link href="assets/css/grayscale.css" rel="stylesheet">

  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{{body}}}

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascript/app.js"></script>
    <script src="/javascripts/moment.js"></script>
  </body>
</html>
